.dataTables_wrapper .dataTables_info{
    font-size: 14px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    margin-left: 0 !important;
    background-color: #337ab7 !important; 
    border-color: #337ab7 !important;
    font-size: 14px !important;
    border: 1px solid #ddd !important;
}
table.dataTable.no-footer {
    border: 1px solid #ddd !important;
    margin-bottom: 20px !important;
}
tr.odd {
    background-color: #f9f9f9 !important;
}
.odd td, .even td {
    border-right: 1px solid #ddd !important;
}
thead {
    border: 1px solid #ddd !important;
}
div#DataTables_Table_0_filter {
    margin-bottom: 10px !important;
}
div#DataTables_Table_0_wrapper {
    margin: 50px !important;
}
.dataTables_wrapper.no-footer{
    margin:50px;
}

// table{

//     display: block;
//     width: 100%;
//     background-color: #f3f3f3;
  
    
  
//     thead,tbody , tr{
//       width: 100%;
//       display:block;
//       overflow: auto;
//     }
  
//     th,td { 
//       display: inline-block;
//       overflow: hidden;
//     }
  
//   }
